#encoding: utf-8
<% provide(:title, 'Convocatoria INT Presenta 2016') %>
<div class="center hero-unit">

  	<h2>Bienvenido</h2></br>
  	<p>El Instituto Nacional del Teatro, con motivo de la elaboración del Catálogo 2015, tiene el agrado de acercarles el nuevo sistema on line, al cual, todos los espectáculos que integran el Catálogo 2015 y deseen ser parte del catálogo 2016, deberán ingresar y realizar el trámite de confirmación.

		Este sitio web estará disponible desde el 10/12/15 al 10/01/16. Todos aquellos que realicen el trámite de confirmación en las mencionadas fechas, serán integrantes del Catálogo 2016.</br>
  	</br>

		Consultas: coordinacion@inteatro.gov.ar, TEL: 54 911 48156661 (interno 152)</br>  

		</br>
 			Como ustedes ya saben, el Programa INT Presenta es una de las mayores acciones de promoción de las artes escénicas que desarrolla el Instituto Nacional del Teatro. Incluye a los Subprogramas El Teatro Invita y El Teatro Festeja y está conformado por un Catálogo de espectáculos oriundos de todas las provincias del país. El Programa promueve año a año el crecimiento de la actividad teatral, su circulación por el territorio argentino y permite nuevos encuentros entre los creadores y los espectadores.</p></br>
 		</br>
  	<%= link_to "Regístrese y comience el proceso de confirmación", home2_path, class: "btn btn-large btn-primary" %>
</div>