#encoding: utf-8

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido al sistema de recuperación de contraseña, <%= @user.name + ' ' + @user.last_name %></h1>
    <p>
      Su contraseña es: <%= @user.password %>.<br>
    </p>
    <p>Si usted no realizó la acción de recuperar contraseña, por favor ignore este mail. Buenos dias!</p>
  </body>
</html>