#encoding: utf-8
<% provide(:title, 'Formulario modificacion de Persona Jurídica') %>
<h1>Editar Persona Jurídica</h1>
</br>
<% if (@formulario.responsable.responsabilidad.valid?) %>
  <p></p>
<% end %>
</br>
<div class="row">
  <div class="span6 offset3">
    <%= render 'form' %>
  </div>
</div>
</br>
<%= link_to t('Volver a campos de datos'), edit_formulario_path(@formulario) %>