    
   <div class="fields_nacionaldad">
   	 <%= label_tag :procedencia, "Procedencia:" %>
	 <%= text_field_tag 'procedencia', "Nacional",  readonly: true %>

	<%= label_tag :cuil_cuit, "Cuil-Cuit * (sin guiones ni puntos)" %>
	<%= text_field_tag :cuil_cuit, nil, id: 'nacionalidad_integrante_nacionales_cuil_cuit', name: 'nacionalidad_integrante[nacionales[cuil_cuit]]' %>	
  </div> 