    
   <div class="fields_nacionaldad">
	<%= label_tag :cuil_cuit, "CUIL / CUIT * (sin guiones ni puntos)" %>
	<%= text_field_tag :cuil_cuit, nil, id: 'nacionalidad_integrante_nacionales_cuil_cuit', name: 'nacionalidad_integrante[nacionales[cuil_cuit]]' %>	
  </div> 