#encoding: utf-8
<% provide(:title, 'Formulario de modificación de integrante') %>
<h1>Editar datos de integrante</h1>
<% if (@integrante.valid?) %>
<% end %>
  <div class="row">
    <div class="span6 offset3">
      <%= render 'form' %>
    </div>
  </div>
</br>
</br>
<%= link_to t('Volver a campos de datos'), edit_formulario_path(@formulario) %>