#encoding: utf-8
<% provide(:title, 'Formulario de alta de integrante') %>
<h1>Datos del integrante</h1></br>

  <div class="row">
    <div class="span6 offset3">
      <%= render 'form' %>
    </div>
  </div>
</br>
</br>
<%= link_to t('Volver a campos de datos'), edit_formulario_path(@formulario) %>