#encoding: utf-8
<% provide(:title, 'Formulario de modificación de integrante de comisión directiva') %>
<h2>Editar integrante de la comisión directiva</h2>

<div class="row">
  <div class="span6 offset3">
    <%= render 'form' %>
  </div>
</div>