#encoding: utf-8
<% provide(:title, 'Formulario de alta de integrante de comisión directiva') %>
<h2>Alta de integrante de la comisión directiva</h2>

<div class="row">
  <div class="span6 offset3">
    <%= render 'form' %>
  </div>
</div>